html {
	background-color: white
}

h1 {
	background-color: #ffe524;
	font-family:"Sigmar one";
	font-size:3rem;
	padding: 1em 1em 1em 2em;
	color:#b32f52;
}

header {
	background-color: #ffe524;
}

nav ol {
	background-color:#ffe524;
	list-style-type: none;
}

nav li {
	color: #b32f52;
	font-family:"Georgia";
	font-size: 1rem ;
	display: inline-block;
	background-color:#b1a233;
	border-radius: 5px;
	padding: 1em 0.5em 0.5em 0.5em;
	width: 6em;
	margin: 0;
	border:;
}

h2 {
	font-family:"Sigmar one";
	color:#b32f52;
	border-top: 4px line #ffe524
}

h3 {
	font-family:"Sigmar one";
	color:#b32f52;
}
